.hero {}

.tabs {
    .contenedor {
        .ul-contenedor {
            .li-contenedor {}

            .activo {}
        }
    }

    .subcontenedor {
        position: relative;

        .bloque {
            position: absolute;
            top: 0;
            opacity: 0;
            transform: translateY(50%);
            transition: all .5s ease;

            h2 {}

            p {}

            .imagen {}

            .tabla {
                .titulo-tabla {
                    h3 {}
                }

                .boton-tabla {
                    div {
                        a {}
                    }
                }

                .oferta-aprendedores {
                    .oferta-contenedor {
                        .oferta-ul {
                            .oferta-li {}

                            .subactivado {}
                        }

                        .oferta-subcontenedor {
                            .oferta-bloque {}

                            .subactivado {}
                        }
                    }
                }

                .oferta-adultos {
                    .oferta-contenedor {
                        .oferta-ul {
                            .oferta-li {}

                            .subactivado {}
                        }

                        .oferta-subcontenedor {
                            .oferta-bloque {}

                            .subactivado {}
                        }
                    }
                }

                .oferta-jovenes {
                    .oferta-contenedor {
                        .oferta-ul {
                            .oferta-li {}

                            .subactivado {}
                        }

                        .oferta-subcontenedor {
                            .oferta-bloque {}

                            .subactivado {}
                        }
                    }
                }
            }

        }

        .activo {
            opacity: 1;
            transform: translateY(0%);
        }
    }
}



// .tabs {

//     .contenedor {
//         width: 90%;
//         max-width: 120em;
//         background-color: lightcoral;
//         padding: 1em;

//         ul {
//             width: 100%;
//             list-style: none;
//             background-color: lightblue;

//             display: flex;
//             flex-flow: row nowrap;
//             justify-content: flex-start;
//             align-items: center;

//             .li {
//                 background-color: lightgreen;
//                 margin: 0 2em 0 0;
//                 padding: 1em;
//                 width: 15vh;
//                 height: 2em;
//                 font-size: 14px;
//                 text-align: center;
//                 transition: all .5s ease;
//             }

//             .activo {
//                 background-color: lightskyblue;
//                 color: white;
//             }
//         }
//     }

//     .subcontenedor {
//         min-height: 10vh;
//         background-color: lightsalmon;
//         position: relative;

//         .bloque {
//             background-color: lightseagreen;
//             margin: 1em;
//             padding: 1em;

//             position: absolute;
//             top: 0;
//             opacity: 0;
//             transform: translateY(50%);
//             transition: all .5s ease;

//             h2 {

//             }

//             .tabs-valores {
//                 background-color: lightpink;

//                 .tabs-valores-cuadro {
//                     background-color: lightyellow;
//                     padding: 2em;
//                 }
//             }
//         }

//         .activo {
//             opacity: 1;
//             transform: translateY(0%);
//         }
//     }
// }